# -----------------------------------------------------------------------------
# Mailgun: https://shipfa.st/docs/features/emails
# -----------------------------------------------------------------------------
EMAIL_SERVER=
MAILGUN_API_KEY=

# -----------------------------------------------------------------------------
# Database URI: https://shipfa.st/docs/features/database
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=